  /* POSITION */
	/* BOX MODEL */
	/* LAYOUT */
	/* TYPOGRAPHY */
	/* BACKGROUND */
	/* ANIMATIONS */
	/* OTHER */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** TOP MENU **/

.top-menu {
  /* POSITION */
	/* BOX MODEL */
  height: 4vh;
	/* LAYOUT */
	/* TYPOGRAPHY */
  color: #fff;
	/* BACKGROUND */
  background-color: #555;
	/* ANIMATIONS */
	/* OTHER */
}

.top-menu-buttons {
  /* POSITION */
  position: absolute;
	/* BOX MODEL */
  width: 100vw;
  height: 4vh;
	/* LAYOUT */
	/* TYPOGRAPHY */
	/* BACKGROUND */
  background-color: #333;
	/* ANIMATIONS */
	/* OTHER */
}

.top-menu-buttons__new-page { 
  /* POSITION */
  position: relative;
  top: 0;
	/* BOX MODEL */
  width: 15vw;
  height: 4vh;
	/* LAYOUT */
	/* TYPOGRAPHY */
	/* BACKGROUND */
	/* ANIMATIONS */
	/* OTHER */
}

/** TOP MENU END **/

/** SIDEBAR **/

.sidebar {
  /* POSITION */
  position: absolute;
  top: 4.3vh;
	/* BOX MODEL */
	/* LAYOUT */
  display: flex;
  flex-direction: row;
	/* TYPOGRAPHY */
	/* BACKGROUND */
  background-color: #fff;
	/* ANIMATIONS */
	/* OTHER */
}

.sidebar__items-list {
  /* POSITION */
	/* BOX MODEL */
	/* LAYOUT */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
	/* TYPOGRAPHY */
	/* BACKGROUND */
  background-color: #222;
	/* ANIMATIONS */
	/* OTHER */
  overflow: hidden;
  z-index: 999;
}

.sidebar__item {
  /* POSITION */
  position: relative;
	/* BOX MODEL */
  border: 1px solid #fff;
  border-radius: 1px;
	/* LAYOUT */
  display: flex;
  justify-content: center;
  align-items: center;
	/* TYPOGRAPHY */
  color: #fff;
  writing-mode: vertical-rl;
	/* BACKGROUND */
  background-color: #222;
	/* ANIMATIONS */
	/* OTHER */
  cursor: pointer;
}

.sidebar__resize {
  /* POSITION */
	/* BOX MODEL */
  border: 1px solid #fff;
  border-radius: 1px;
  width: 1.2rem;
  height: 95.2vh;
	/* LAYOUT */
	/* TYPOGRAPHY */
  color: #fff;
	/* BACKGROUND */
  background-color: #000;
	/* ANIMATIONS */
	/* OTHER */
  z-index: 999;
}

/** SIDEBAR END **/

/** PAGES **/

.display {
  padding: 0;                                       /* CHECK */
  margin: 0;                                        /* CHECK */
  width: 100vw;
  height: 96vh;
  background-color: #555;
  /* LAYOUT */

}

.page {
  /* POSITION */
  position: absolute;
  top: 4.2vh;
  left: 2vw;
	/* BOX MODEL */
   outline: 1px solid #999;
  outline-offset: 1px;
  border: 1px solid #fff;
  border-radius: 1px; 
  width: 97.5%;
  height: 95%;
	/* LAYOUT */
  display: grid;
  grid-template-rows: 2rem 2rem 1fr;
  /* justify-content: flex-start;
  align-items: flex-start; */
	/* TYPOGRAPHY */
	/* BACKGROUND */
  background-color: #999;
	/* ANIMATIONS */
	/* OTHER */
  overflow-x: auto;
  overflow-y: auto;
}

.header {
  /* POSITION */
  display: flex;
	/* BOX MODEL */
  max-width: 96.5vw;
  height: 2rem;
  padding: 0 0 0 1vw;
  margin: 0;
	/* LAYOUT */
  justify-content: space-around;
  align-items: center;
	/* TYPOGRAPHY */
	/* BACKGROUND */
  background-color: #111;
	/* ANIMATIONS */
	/* OTHER */
}

.header__title {
  /* POSITION */
  display: flex;
	/* BOX MODEL */
  border: solid 0px transparent;
  min-width: 90%;
  max-width: 90%;
  min-height: 1.8rem;
  max-height: 1.8rem;
	/* LAYOUT */
	/* TYPOGRAPHY */
  font-size: 2vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 700;
	/* BACKGROUND */
  background-color: #111;
	/* ANIMATIONS */
	/* OTHER */
  overflow: auto;
  resize: none;
}

.header__btn {
  /* POSITION */
	/* BOX MODEL */
  width: 2rem;
  height: 2rem;
	/* LAYOUT */
	/* TYPOGRAPHY */
	/* BACKGROUND */
	/* ANIMATIONS */
	/* OTHER */
}

.sub-header {
  /* POSITION */
	/* BOX MODEL */
  height: 2rem
	/* LAYOUT */
	/* TYPOGRAPHY */
	/* BACKGROUND */
	/* ANIMATIONS */
	/* OTHER */
}

.sub-header__button {
    /* POSITION */
    /* BOX MODEL */
    height: 2rem;
    /* LAYOUT */
    /* TYPOGRAPHY */
    /* BACKGROUND */
    /* ANIMATIONS */
    /* OTHER */
}

.contents__text-container {
  /* BOX MODEL */
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  border: solid 2px transparent;
  border-radius: 8px;
  min-height: 1.9rem;
  padding: .4rem;
  /* LAYOUT */
  display: flex;
  flex-direction: column;
  /* BACKGROUND */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  background-clip: padding-box;
  /* OTHER */
  overflow: hidden;
}

.contents__title-field {
  /* BOX MODEL */
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  width: 95%;
  height: 2rem;
  padding: 0 .5rem;
  /* TYPOGRAPHY */
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  /* BACKGROUND */
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  /* OTHER */
  overflow: auto;
  resize: none;
}

.contents__text-field {
  /* BOX MODEL */
  border: none;
  padding: 0.5rem .5rem 0 .5rem;
  /* TYPOGRAPHY */
  color: #fff;
  overflow-wrap: break-word;
  /* BACKGROUND */
  background: rgba(255, 255, 255, 0);
  background-clip: padding-box;
  /* OTHER */
  overflow-y: auto;
  resize: none;
}

.contents__bottom-bar {
  /* BOX MODEL */
  width: 100%;
  /* LAYOUT */
  display: flex;
  justify-content: flex-end;
}

.contents__resize {
  /* BOX MODEL */
  width: 2rem;
  height: 2rem;
}

/** PAGES END **/
